on: [push]
jobs:
  # github.com
  build_latex:
    if: ${{ github.server_url == 'https://github.com' }}
    name: Build draft PDF (Github)
    runs-on: ubuntu-latest # github runner
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Build
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            apk add make git coreutils inkscape curl python3
            curl -LsSf https://astral.sh/uv/install.sh | sh
            export PATH="$HOME/.local/bin:$PATH"
            git config --global --add safe.directory $(pwd)
            make draft
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: pdf
          path: p.pdf
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: p.pdf

  # enterprise github (gatech here); special handling
  build_latex_gatech:
    if: ${{ github.server_url == 'https://github.gatech.edu' }}
    name: Build draft PDF (Gatech)
    runs-on: self-hosted # self hosted runner
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Build
        uses: yfu330/texlive-action/full@v1 # mirror of xu-cheng/texlive-action
        with:
          run: |
            apk add make git coreutils inkscape curl python3
            curl -LsSf https://astral.sh/uv/install.sh | sh
            export PATH="$HOME/.local/bin:$PATH"
            git config --global --add safe.directory $(pwd)
            make draft
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: pdf
          path: p.pdf

  # others like gitea
  build_latex_others:
    if: ${{ github.server_url != 'https://github.com' && github.server_url != 'https://github.gatech.edu' }}
    name: Build draft PDF (Others)
    runs-on: ubuntu-latest # github runner
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Build
        uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            apk add make git coreutils inkscape curl python3
            curl -LsSf https://astral.sh/uv/install.sh | sh
            export PATH="$HOME/.local/bin:$PATH"
            git config --global --add safe.directory $(pwd)
            make draft
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: pdf
          path: p.pdf
